doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')    

  body
    form#search(method="post")
      if (user)
        input(type='text', name='username', value='#{user}')
      else
        input(type='text', name='username')
      input(type='submit')

    //- We check the existence of followers to know if the user exists
    if (followers)
      br
      table
        tr
          th avatar
          th login
          th url
        each follower in followers
          tr
            td
              img.icon(src="#{follower.avatar_url}")
            td= follower.login
            td= follower.url
    else
      p This user doesn't exist
